/**
Dark: #A82C2A
Light: #b94a48
**/
body{
	font-family: /*'Open Sans',*/ sans-serif;
	background: #f5f5f5;
}

a {
	color: #b94a48;
}

a:hover {
	color: #b94a48;
	text-decoration:none;
}

.navbar-brand {
	max-width: 400px;
	font-family: 'Noto Sans', sans-serif;
	font-size:25px;
	font-style: italic;	
	height:50px;
	overflow:hidden;
}

.navbar-brand small {
	font-size: 50%;
	font-family: 'Open Sans', sans-serif;
}
.navbar {
	background: #b94a48;
	color: #ffffff;
}

.navbar .navbar-nav > .dropdown > a .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.navbar .navbar-nav > li > a{
	color: #ffffff;
}

.navbar .navbar-brand {
	color: #ffffff;
}

.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #A82C2A;
}

.header-main-navbar-collapse .navbar-nav > .open > a, 
.header-main-navbar-collapse .navbar-nav > .open > a:hover, 
.header-main-navbar-collapse .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #A82C2A;
}

.header-main-navbar-collapse .dropdown-menu > li > a:hover {
	background: #A82C2A;
}

.header-main-navbar-collapse .dropdown-menu .divider {
	margin-top: 5px;
}

.navbar .navbar-nav  > li > a:hover {
	color: #ffffff;
	background-color: #A82C2A;
}

.footer-nav-bar, .header-nav-bar{
	border-radius: 0;
	padding-bottom:0px;
	padding-top:0px;
	margin-bottom:0px;
	margin-top:0px;
}
.footer-nav-bar .container{
	padding-top: 10px;
}

.panel-heading, .panel-footer {
	color: #b94a48;
}

.panel-orange {
	border-color: #b94a48;
}

.panel-orange .panel-heading {
	color: #ffffff;
	background-color: #b94a48;
	border-color: #b94a48;
}

.panel.sidebar {
	padding:0px;
}

.sidebar-nav {

}

.sidebar-nav a.nav-header { 
	display:block;
	padding: 10px 0px 8px 8px;
	text-decoration:none;
	color: #b94a48;
	background: #f5f5f5;
	border-bottom: 1px solid #dddddd; 
}

.sidebar-nav a.nav-header:last-child {
	border-bottom:0px;
}

.sidebar-nav a.nav-header:hover { 
	background:#ffffff;
}

.sidebar-nav ul {
	margin-left:0px;
	padding-left:0px;
}

.sidebar-nav ul li a {
	padding: 5px 0px 5px 15px;
	color: #b94a48;
	font-size: 13px;
}


.sidebar ul li.active {
	background:#eeeeee;
}

.sidebar ul li:hover {
	background:#f5f5f5;
}

.sidebar-nav .nav > li > a:hover, 
.sidebar-nav .nav > li > a:focus {
	text-decoration: none;
	background-color: #f5f5f5;
}

ul.breadcrumb li a {
	color: #b94a48;
}

.alert {
	padding: 10px 35px 10px 15px;
	font-size: 13px;
}


.wrapper {}
.wrapper .top{
	background: #ffffff; 
	height: 70px;
}
.wrapper .main {
	min-height:200px;
	background:#f5f5f5; 
	border-top: 1px solid #dddddd;
}
.wrapper .main .hide-under-top {
	margin-top:-40px;
}
.page-content {
	min-height: 430px;
}

.alert ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

.alert ul li:before {
	content: "\2192 \0020";
}

.sidebar-nav ul li a:before {
	content: "\2023 \0020";
}

label {
	font-weight:normal;
}

label.error {
	color: #b94a48;
	font-style: italic;
}

label span.required {
	color: #b94a48;
}
input.error, select.error, textarea.error {
	border: 1px solid #b94a48;
	background: #f2dede;
}

.errorMessage {
	font-size: 13px; 
	color: #b94a48;
	margin:0; 
	padding:0;
	font-style:italic;
}

.no-margin-left {
	margin-left:0px;
	padding-left:0px;	
}

.no-top-border {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0px;
}

.no-width {
	width:0px;
}

.callout {
  margin: 10px 0px 20px 0px;
  padding: 10px 30px 10px 10px;
  border-left: 5px solid #eee;
  background-color: #f5f5f5;
  border-color: #A82C2A;
  color: #333333;
  font-size: 12px;
}
.callout h4 {
  margin-top: 0;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}

.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

h3.popover-title {
	color: #b94a48;
}
.popover-content {
	font-size: 13px;
}

textarea {
	resize:none;
}


/** Grid View table start **/
.grid-view-loading
{
	background:url(../img/grid-view-loading.gif) no-repeat;
}

.grid-view
{
	padding: 0;
}

table th, table td
{
	font-size: 0.9em;
}

table th a.asc
{
	background:url(../img/grid-up.gif) right center no-repeat;
	padding-right: 10px;
}

table th a.desc
{
	background:url(../img/grid-down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
}
/** Grid View table end **/

.panel .col-lg-1,
.panel .col-lg-2,
.panel .col-lg-3,
.panel .col-lg-4,
.panel .col-lg-5,
.panel .col-lg-6,
.panel .col-lg-7,
.panel .col-lg-8,
.panel .col-lg-9,
.panel .col-lg-10,
.panel .col-lg-11,
.panel .col-lg-12 {
	margin-left:0px!important;
	padding-left: 0px!important;
}

.panel h1, 
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
	color: #b94a48!important;
}
button.navbar-toggle span.icon-bar {color:#333333; background:#333333}

.grid-filter-cell input, .grid-filter-cell select {
	font-size: 10px;
	outline:none;
}

ul.pagination {
	margin:0;
	padding:0;	
}

ul.pagination li.selected, ul.pagination li.selected a {
	background: #eeeeee;
}

.empty-options-header.loading {
	background: url(../img/grid-view-loading.gif) no-repeat;
	height:16px;
	margin-top:-16px;
}

.errorSummary {
	font-size: 13px; 
	color: #b94a48;
	margin:0; 
	padding:0;
	font-style:italic;
	border: 1px solid #b94a48;
	background: #f2dede;
}

.sidebar-nav a.nav-header.active {
	background: #ffffff;
}

.article-categories-scrollbox { height: 110px; overflow-y:scroll}
.article-categories-scrollbox .list-group-item {padding: 4px 7px 2px 7px;}

.pagination {
	margin:0px!important;
}
.panel .small-text{font-size: 13px}

.sidebar-nav a.nav-header.active {
	background: #b94a48;
	color:#FFFFFF;
}

.alert.alert-block.alert-danger .errorSummary {
	border:0px;
}

.grid-view .summary {font-size: 12px; color: #A82C2A}